{% extends 'exercise/base.html' %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2>Room name: {{ room.name }}</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="reservation-date">Date of reservation/label>
        <input type="date" id="reservation-date" name="reservation-date" max="3000-12-31"
               min="1000-01-01" class="form-control">
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" name="comment"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Reserve</button>
    </form>
  </div>
</div>
{% if error %}
<!-- Form error -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Form error -->
{% endif %}
<div class="card">
  <div class="card-body">
    <h3>Reservations</h3>
    <ul class="list-group">
      {% for reservation in reservations %}
      <li class="list-group-item">
        <h4>{{ reservation.date }}</h4>
        <p>{{ reservation.comment }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}